# Бинарные файлы и исполняемые файлы
*.exe
*.dll
*.so
*.dylib
MonitoringBot # Игнорировать исполняемый файл (если он называется так)

# Временные файлы и логи
*.log
*.tmp
*.swp
*.bak

# Файлы IDE и редакторов
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db

# Кэш и временные файлы Go
/bin/
/pkg/

# Зависимости и модули Go
vendor/


# Локальные настройки
.env
.env.local
*.env

# Системные файлы
*.lock
*.pid

# Прочие временные файлы
*~